body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.name {
    color: brown;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    background-color: rgb(223, 99, 17);
    color: black;
    padding: 10px 40px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.dream-big img {
    width: 80%;
}

.orange-color {
    color: orange;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;


}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#baby-web {
    border-image: linear-gradient(#f6b73c, #4d9f0c) 30;
    border-image-slice: 1;
    border-left: 7px solid;

}

#prolevel {
    border-image: linear-gradient(#f6423c, #9f9d0c) 30;
    border-image-slice: 1;
    border-left: 7px solid;

}

footer p {
    text-align: center;
}